road/variable-signs/resources/datex2/3.7/DATEXII_3_AfirFacilities.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:afac="http://datex2.eu/schema/3/afirFacilities" version="3.7" targetNamespace="http://datex2.eu/schema/3/afirFacilities" xmlns:com="http://datex2.eu/schema/3/common" xmlns:aegi="http://datex2.eu/schema/3/afirEnergyInfrastructure" xmlns:loc="http://datex2.eu/schema/3/locationReferencing" xmlns:locx="http://datex2.eu/schema/3/locationExtension" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/locationExtension" schemaLocation="DATEXII_3_LocationExtension.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/afirEnergyInfrastructure" schemaLocation="DATEXII_3_AfirEnergyInfrastructure.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_CredentialTypeEnum">
    <xs:simpleContent>
      <xs:extension base="afac:CredentialTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_EnergySourceEnum">
    <xs:simpleContent>
      <xs:extension base="afac:EnergySourceEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_FacilityObjectVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="afac:FacilityObject" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_MeansOfPaymentEnum">
    <xs:simpleContent>
      <xs:extension base="afac:MeansOfPaymentEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_OperatingHoursSpecificationVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="afac:OperatingHoursSpecification" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_OperatingHoursTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="afac:OperatingHoursTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_OrganisationTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="afac:OrganisationTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_OrganisationTypeEnum">
    <xs:simpleContent>
      <xs:extension base="afac:OrganisationTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_OrganisationVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="afac:Organisation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_PaymentBrandsEnum">
    <xs:simpleContent>
      <xs:extension base="afac:PaymentBrandsEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PaymentModeEnum">
    <xs:simpleContent>
      <xs:extension base="afac:PaymentModeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RateAvailabilityTypeEnum">
    <xs:simpleContent>
      <xs:extension base="afac:RateAvailabilityTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RateLineTypeEnum">
    <xs:simpleContent>
      <xs:extension base="afac:RateLineTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RateTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="afac:RateTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_RateTypeEnum">
    <xs:simpleContent>
      <xs:extension base="afac:RateTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ReferenceableOrganisationVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="afac:ReferenceableOrganisation" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_ReservationTypeEnum">
    <xs:simpleContent>
      <xs:extension base="afac:ReservationTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RightSpecificationVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="afac:RightSpecification" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_RightTypeEnum">
    <xs:simpleContent>
      <xs:extension base="afac:RightTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TypeOfIdentifierEnum">
    <xs:simpleContent>
      <xs:extension base="afac:TypeOfIdentifierEnum">
        <xs:attribute name="_extendedValue" type="afac:_TypeOfIdentifierEnumExtensionType" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="_TypeOfIdentifierEnumExtensionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="evseId" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="_UserTypeEnum">
    <xs:simpleContent>
      <xs:extension base="afac:UserTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AfirFacilityLocation">
    <xs:annotation>
      <xs:documentation>A location for which a time zone,an address and a NUTS-area can be specified.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="timeZone" type="afac:TimeZone" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The time zone the facility is located in.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address" type="locx:Address" minOccurs="0" />
      <xs:element name="nutsArea" type="afac:NutsArea" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountInCurrency">
    <xs:annotation>
      <xs:documentation>A class supporting the definition of a unit of currency in a defined currency.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="currencyValue" type="afac:AmountOfMoney" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The amount of currency specified in the given currency code type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyType" type="afac:CurrencyCode" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Code for the specified currency as defined in ISO 4217.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_amountInCurrencyExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AmountOfMoney">
    <xs:annotation>
      <xs:documentation>A monetary value expressed to two decimal places.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Decimal">
      <xs:totalDigits value="8" />
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AnOrganisation">
    <xs:annotation>
      <xs:documentation>An organisation. It can be specialised to be referenceable.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:Organisation">
        <xs:sequence>
          <xs:element name="lastUpdated" type="com:DateTime" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The date/time at which this information was last updated.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="name" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Name of the organisation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="legalName" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The legal name of the organisation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="description" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A description of the organisation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="linkToGeneralInformation" type="com:Url" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>An internet address from where further relevant information about this organisation may be obtained.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="linkToLogo" type="com:Url" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>An internet address from where the logo of this organisation may be obtained.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="linkToWebform" type="com:Url" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>An internet address pointing to a webform, which people can use to send messages to this organisation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="available24hours" type="com:Boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Specifies if the availability is 24 hours a day. If omitted, this information is unknown or heterogeneous.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="responsibility" type="com:MultilingualString" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specification of services or other duties the organisation is responsible for.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="publishingAgreement" type="com:Boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Indication whether the organisation accepted publishing its information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="type" type="afac:_OrganisationTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Information whether the organisation in question belongs to the public or private sector.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nationalOrganisationNumber" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The national organisation number in the specified national register, if applicable.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nationalRegister" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A national register where the organisation is registered.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="vatIdentificationNumber" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The VAT identification number of the organisation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="organisationUnit" type="afac:OrganisationUnit" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="externalIdentifier" type="afac:ExternalIdentifier" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="subOrganisation" type="afac:Organisation" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>An organisation that is subordinated to its parent organisation, defined likewise by the Organisation model structure.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_anOrganisationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssignedRightTimeRelative" abstract="true">
    <xs:annotation>
      <xs:documentation>Time-based qualification criteria,linked to the possession of a specified Right Specification. Example: permitting a return stay at a specified rate,within defined time window (start and end time windows may be defined).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_assignedRightTimeRelativeExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClosureInformation">
    <xs:annotation>
      <xs:documentation>Information about temporary or permanent closure.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="permananentlyClosed" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Permanently closed, i.e. it is not intended to open again.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="temporarilyClosed" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Temporarily closed for an unspecified period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="closedFrom" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Permanently or temporarily closed from the given date on. May lie in the future - in this case the scene is not closed now.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="temporarilyClosedUntil" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Temporarily closed until the given date (i.e. closure still includes this date).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_closureInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactInformation">
    <xs:annotation>
      <xs:documentation>Contact information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="language" type="com:Language" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Language(s) that are supported via telephone or mail.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="telephoneNumber" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Telephone number, which can be a general number or the number of a specific contact person.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="faxNumber" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fax number, which can be a general number or the number of a specific contact person.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="eMail" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>E-Mail address, which can be a general mail address or the mail address of a specific contact person.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_contactInformationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactPerson">
    <xs:annotation>
      <xs:documentation>A specific contact person.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:ContactInformation">
        <xs:sequence>
          <xs:element name="name" type="com:String" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The (last) name of the contact person.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="firstName" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The first name of the contact person.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="title" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Title information of the contact person.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="position" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The position of the contact person.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_contactPersonExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Credential">
    <xs:annotation>
      <xs:documentation>Class containing reference to a credential (identifiable persistent identity).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="afac:_CredentialTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Type of credential.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherType" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Some other type of credential.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_credentialExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CredentialAssigned">
    <xs:annotation>
      <xs:documentation>Information concerning a specific credential that is used for verification for one AssignedRight. Specialisation of a general credential.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:Credential">
        <xs:sequence>
          <xs:element name="localIdentifier" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Identifier issued by credential issuer.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="issuer" type="afac:_OrganisationVersionedReference" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Identity of the credential issuer.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_credentialAssignedExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CredentialTypeEnum">
    <xs:annotation>
      <xs:documentation>A list of the supported credential types available for reference.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="hangtag">
        <xs:annotation>
          <xs:documentation>Visible, often removable, credential indicator, with visible markings.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="permit">
        <xs:annotation>
          <xs:documentation>Issued credential, often in the form of an adhesive label, often placed on the windscreen, credential indicator, with visible markings.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="licensePlate">
        <xs:annotation>
          <xs:documentation>Fixed plate, in a defined format, used to identify a specific vehicle. Normally a permanent fixture.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ticket">
        <xs:annotation>
          <xs:documentation>Typically issued paper with printed details, often with magnetic strips; typically single use disposable.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="eticket">
        <xs:annotation>
          <xs:documentation>Digital equivalent of a paper ticket, often presentable via smartphone or similar device for control.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="barcode">
        <xs:annotation>
          <xs:documentation>Barcode or QR digital print pattern held on any physical media.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bluetooth">
        <xs:annotation>
          <xs:documentation>Specific bluetooth or BLE identification chip used to associate a BLE receiver to a specific user.  Used for both one time and permit uses.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rfid">
        <xs:annotation>
          <xs:documentation>Specific RF identification associated to an RFID-related account.  Used for permit uses.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qrCode">
        <xs:annotation>
          <xs:documentation>Quick Reference (QR) code.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Some other credential.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CurrencyCode">
    <xs:annotation>
      <xs:documentation>Three letter code defining the currency according to ISO 4217:2015 (e.g. EUR for Euro).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:String">
      <xs:pattern value="[A-Z][A-Z][A-Z]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Duration">
    <xs:annotation>
      <xs:documentation>A duration of time,which may consist of years,months,days,hours,minutes,and seconds components,as defined in ISO 8601.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:duration" />
  </xs:simpleType>
  <xs:complexType name="DurationValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of a period of time.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="duration" type="com:Seconds" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A period of time expressed in seconds.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_durationValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Eligibility">
    <xs:annotation>
      <xs:documentation>Defines the combination of Eligibility requirements with RateTables and associates this combination to a RightSpecification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Free-text name for the eligibility name to assist data users to readily find the eligibility characteristics for a specific eligibility data set.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="noFeeToUse" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>If TRUE indicates that the related RightSpecification may be used without charge or cost. If FALSE or not specified, costs and charges apply.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Free-text description for the eligibility definition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="priority" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>An integer value, starting at 1, indicating the order in which multiple relevant RateTables shall be considered, with 1 being the highest priority.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="combinable" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Boolean attribute that indicates (TRUE) if all RateTables associated to a RightSpecification with a common Eligibility can be combined to establish a lowest cost tariff or (FALSE) they cannot be combined.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qualification" type="afac:Qualification" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="rateDiscount" type="afac:RateDiscount" minOccurs="0" />
      <xs:element name="rightSpecification" type="afac:RightSpecification" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_eligibilityExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EnergySourceEnum">
    <xs:annotation>
      <xs:documentation>Type of fuel used by a vehicle.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="all">
        <xs:annotation>
          <xs:documentation>All sort of fuel is accepted.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="battery">
        <xs:annotation>
          <xs:documentation>Battery.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="biodiesel">
        <xs:annotation>
          <xs:documentation>Biodiesel.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="diesel">
        <xs:annotation>
          <xs:documentation>Fuel used for compression-ignition (CI) engines.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dieselBatteryHybrid">
        <xs:annotation>
          <xs:documentation>Diesel and battery hybrid.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ethanol">
        <xs:annotation>
          <xs:documentation>Ethanol.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hydrogen">
        <xs:annotation>
          <xs:documentation>Hydrogen.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="liquidGas">
        <xs:annotation>
          <xs:documentation>Liquid gas of any type including LPG.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lpg">
        <xs:annotation>
          <xs:documentation>Liquid petroleum gas.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="methane">
        <xs:annotation>
          <xs:documentation>Methane gas.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="petrol">
        <xs:annotation>
          <xs:documentation>Fuel used for positive-ignition (PI) engines.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="petrol95Octane">
        <xs:annotation>
          <xs:documentation>Petrol with 95 octane.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="petrol98Octane">
        <xs:annotation>
          <xs:documentation>Petrol with 98 octane.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="petrolBatteryHybrid">
        <xs:annotation>
          <xs:documentation>Petrol and battery hybrid.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="petrolLeaded">
        <xs:annotation>
          <xs:documentation>Leaded petrol.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="petrolUnleaded">
        <xs:annotation>
          <xs:documentation>Unleaded petrol.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The sort of fuel is not known.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ExternalIdentifier">
    <xs:annotation>
      <xs:documentation>An external (maybe national) identifier,optional with its specific type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifier" type="com:String" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>An external (maybe national) identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="typeOfIdentifier" type="afac:_TypeOfIdentifierEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The type of identifier expressed as enumeration, which should be extended project specific.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherTypeOfIdentifier" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The type of identifier expressed as string.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_externalIdentifierExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Facility" abstract="true">
    <xs:annotation>
      <xs:documentation>Provides information about a facility,which may represent any kind of site,building,or structure,and may be a composite facility that includes supplemental facilities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:FacilityObject">
        <xs:sequence>
          <xs:element name="_facilityExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FacilityObject" abstract="true">
    <xs:annotation>
      <xs:documentation>Provides information about a facility object,which may represent any kind of site,building,or structure,including those which supplement a main facility.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_facilityObjectExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="FacilityObjectStatus">
    <xs:annotation>
      <xs:documentation>Dynamic status information for a facility object.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reference" type="afac:_FacilityObjectVersionedReference" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Reference to the corresponding static facility object.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_facilityObjectStatusExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacilityStatus">
    <xs:annotation>
      <xs:documentation>Dynamic status information for a facility.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:FacilityObjectStatus">
        <xs:sequence>
          <xs:element name="_facilityStatusExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LinkedRightSpecification">
    <xs:annotation>
      <xs:documentation>Qualification criteria for eligibility based possession of a specified Right Specification - on the duration of time relative to a defined time-based qualification related to an assigned right.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="qualifyingRightSpec" type="afac:_RightSpecificationVersionedReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifies a held RightSpecification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="assignedRightTimeRelative" type="afac:AssignedRightTimeRelative" minOccurs="0" />
      <xs:element name="_linkedRightSpecificationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MeansOfPaymentEnum">
    <xs:annotation>
      <xs:documentation>Means of payment.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="paymentCreditCard">
        <xs:annotation>
          <xs:documentation>Payment by electronic payment credit card which is a small plastic card issued by a bank, building society, or other financial institution (ISO/IEC 7813 and other related standards), allowing the holder to purchase goods or services on credit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cashBillsOnly">
        <xs:annotation>
          <xs:documentation>Cash payment using bills only.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cashCoinsOnly">
        <xs:annotation>
          <xs:documentation>Cash payment with coins only.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tollTag">
        <xs:annotation>
          <xs:documentation>Toll tag (RFID) or similar, with associated account.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mobileAccount">
        <xs:annotation>
          <xs:documentation>Payment method using an app or other functions typically via a smartphone to a linked bank or card account.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cashCoinsAndBills">
        <xs:annotation>
          <xs:documentation>Cash payment using bills and/or coins only.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="prepay">
        <xs:annotation>
          <xs:documentation>Advanced payment for parking right.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="paymentDebitCard">
        <xs:annotation>
          <xs:documentation>Payment by electronic payment debit card which is a small plastic card (ISO/IEC 7813 and other related standards), allowing the holder to transfer money electronically from their bank account when making a purchase.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="paymentValueCard">
        <xs:annotation>
          <xs:documentation>Payment by electronic payment debit card which is a small plastic card (ISO/IEC 7813 and other related standards) with a monetary value stored on the card itself, that may not be linked to an external account maintained by a financial institution.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nfc">
        <xs:annotation>
          <xs:documentation>Near field communication.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="emv">
        <xs:annotation>
          <xs:documentation>Payment by cards with EMC chip.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="qrCode">
        <xs:annotation>
          <xs:documentation>Payment with a given QR-code.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="website">
        <xs:annotation>
          <xs:documentation>Payment by website.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NutsArea">
    <xs:annotation>
      <xs:documentation>The NUTS-Code representation for the area (Nomenclature of territorial units for statistics) or its LAU code representation (Local Administrative Unit).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nutsCodeType" type="loc:_NutsCodeTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The NUTS code type for the named area.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nutsCode" type="loc:NutsCode" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The NUTS code for the named area.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_nutsAreaExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OpenAllHours">
    <xs:annotation>
      <xs:documentation>Open or available all the time (24/7).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:OperatingHours">
        <xs:sequence>
          <xs:element name="_openAllHoursExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperatingHours" abstract="true">
    <xs:annotation>
      <xs:documentation>Operating hours,either by reference or by specification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="closureInformation" type="afac:ClosureInformation" minOccurs="0" />
      <xs:element name="_operatingHoursExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatingHoursByReference">
    <xs:annotation>
      <xs:documentation>Operating hours information that is addressed via a reference.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:OperatingHours">
        <xs:sequence>
          <xs:element name="operatingHoursReference" type="afac:_OperatingHoursSpecificationVersionedReference" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The reference to an operating hours specification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="operatingHoursTableReference" type="afac:_OperatingHoursTableVersionedReference" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Operation hours table in question defined by a reference.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_operatingHoursByReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperatingHoursPublication">
    <xs:annotation>
      <xs:documentation>A publication defining one or more tables that have entries of operating hours specifications.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="com:HeaderInformation" minOccurs="0" />
          <xs:element name="operatingHoursTable" type="afac:OperatingHoursTable" maxOccurs="unbounded" />
          <xs:element name="_operatingHoursPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperatingHoursSpecification">
    <xs:annotation>
      <xs:documentation>A specification of operating hours (e.g. for a parking site,a service facility,an access or the availability for equipment).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:OperatingHours">
        <xs:sequence>
          <xs:element name="lastUpdated" type="com:DateTime" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The date/time at which this information was last updated.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="label" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A label, name or identifier for this operating hours specification.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="operatingAllYear" type="com:Boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The facility or organisation is not closed on a seasonal base.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="urlLinkAddress" type="com:Url" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A Uniform Resource Locator (URL) address pointing to a resource available on the Internet from where further relevant information may be obtained.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="overallPeriod" type="com:OverallPeriod">
            <xs:annotation>
              <xs:documentation>The specification of operating hours by an overall period combined with valid or exceptional periods.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_operatingHoursSpecificationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperatingHoursTable">
    <xs:annotation>
      <xs:documentation>A table comprising a number of operating hours specifications.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the operating hours table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versionTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date/time that this version of the operating hours table was defined by the supplier. The identity and version of the table are defined by the class stereotype implementation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationManager" type="com:InternationalIdentifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Organisation that manages the information content (is responsible for updates of this information) typically the organisation that first made the DATEX II publication of this content.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operatingHoursSpecification" type="afac:OperatingHoursSpecification" maxOccurs="unbounded" />
      <xs:element name="_operatingHoursTableExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="Organisation" abstract="true">
    <xs:annotation>
      <xs:documentation>Information about an organisation including its units and contact information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="generalTimeValidity" type="com:OverallPeriod" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Specification of a time validity, for which this organisation information is valid in general. This is not a specification of the operating hours as such.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_organisationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationByReference">
    <xs:annotation>
      <xs:documentation>Organisation information that is based on a reference.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:Organisation">
        <xs:sequence>
          <xs:element name="organisationReference" type="afac:_ReferenceableOrganisationVersionedReference" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Organisation information provided by a reference.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="organisationTableReference" type="afac:_OrganisationTableVersionedReference" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Organisation table in question defined by a reference.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_organisationByReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationPublication">
    <xs:annotation>
      <xs:documentation>A publication defining one or more tables that have entries of organisation specifications.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="com:HeaderInformation" minOccurs="0" />
          <xs:element name="organisationTable" type="afac:OrganisationTable" maxOccurs="unbounded" />
          <xs:element name="_organisationPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationTable">
    <xs:annotation>
      <xs:documentation>A table comprising a number of organisation specifications.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the organisation table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versionTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date/time that this version of the organisation table was defined by the supplier. The identity and version of the table are defined by the class stereotype implementation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="informationManager" type="com:InternationalIdentifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Organisation that manages the information content (is responsible for updates of this information) typically the organisation that first made the DATEX II publication of this content.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="anOrganisation" type="afac:AnOrganisation" maxOccurs="unbounded" />
      <xs:element name="_organisationTableExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:simpleType name="OrganisationTypeEnum">
    <xs:annotation>
      <xs:documentation>Type of organisation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="publicSector">
        <xs:annotation>
          <xs:documentation>Public sector organisation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privateSector">
        <xs:annotation>
          <xs:documentation>Private sector organisation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationUnit">
    <xs:annotation>
      <xs:documentation>A unit within the organisation,which has got seperate location,operating hours,address and/or contacts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A name for this organisation unit.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="function" type="com:MultilingualString" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Functions this unit is responsible for or a specific type, e.g. headquarter or sales.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationReference" type="loc:LocationReference" minOccurs="0" />
      <xs:element name="contactInformation" type="afac:ContactInformation" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="operatingHours" type="afac:OperatingHours" minOccurs="0" />
      <xs:element name="_organisationUnitExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Payment">
    <xs:annotation>
      <xs:documentation>Information on payment possibilities.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="paymentMode" type="afac:_PaymentModeEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Defines the timing of the parking or other mobility related payment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="paymentMeans" type="afac:_MeansOfPaymentEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The means of payment available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherPaymentMeans" type="com:MultilingualString" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Other means of payment that are available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="brandsAccepted" type="afac:_PaymentBrandsEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Accepted brands for payment cards.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherBrandsAccepted" type="com:String" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Further accepted brands for payment cards.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_paymentExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentBrandsEnum">
    <xs:annotation>
      <xs:documentation>Brands for payment cards.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="americanExpress">
        <xs:annotation>
          <xs:documentation>American Express.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="applePay">
        <xs:annotation>
          <xs:documentation>Apple pay.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cirrus">
        <xs:annotation>
          <xs:documentation>Cirrus</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dinersClub">
        <xs:annotation>
          <xs:documentation>Diners Club.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="discoverCard">
        <xs:annotation>
          <xs:documentation>Discover Card.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="giroCard">
        <xs:annotation>
          <xs:documentation>Giro card.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="maestro">
        <xs:annotation>
          <xs:documentation>Maestro</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="masterCard">
        <xs:annotation>
          <xs:documentation>Master Card.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="visa">
        <xs:annotation>
          <xs:documentation>Visa</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vpay">
        <xs:annotation>
          <xs:documentation>VPay</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Another brand.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PaymentModeEnum">
    <xs:annotation>
      <xs:documentation>Details of when payment is required.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="prepay">
        <xs:annotation>
          <xs:documentation>Pay before entry.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="payOnEntry">
        <xs:annotation>
          <xs:documentation>Pay at start of the parking session (e.g. for pay and display).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="payPriorToExit">
        <xs:annotation>
          <xs:documentation>Pay at machine on foot prior to returning to vehicle and use payment ticket to exit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="payAfterExit">
        <xs:annotation>
          <xs:documentation>Payment on account.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="payAndExit">
        <xs:annotation>
          <xs:documentation>Pay directly at the exit with a payment card or other means of payment (usually, this payment card must have been used when entering as well).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Qualification">
    <xs:annotation>
      <xs:documentation>A singular set of criteria used to test eligibility for use of a rate table.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="withReservation" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether a reservation is required. [TRUE] reservation required.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="propulsionEnergyType" type="afac:_EnergySourceEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Indicates eligible fuel types for applicable vehicles.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="noFeeToUse" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specific facility is free or not. [TRUE] (e.g. free to park).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="withMembership" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates that a membership is required. [TRUE] membership required.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="membershipName" type="com:MultilingualString" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Free-text description of the membership.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="memberOfOtherRateTable" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates if this qualification can be used in combination with the use of another rate table. [TRUE]= member of (i.e., used) another rate table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rateTableMember" type="afac:_RateTableVersionedReference" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Reference to another rate table membership.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="activeAssignedRight" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indication of an assigned right.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="payment" type="afac:Payment" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vehicleCharacteristics" type="com:VehicleCharacteristics" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="linkedRightSpecification" type="afac:LinkedRightSpecification" minOccurs="0" />
      <xs:element name="userQualification" type="afac:UserQualification" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_qualificationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RateAvailabilityTypeEnum">
    <xs:annotation>
      <xs:documentation>A list of rate availability types.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="private">
        <xs:annotation>
          <xs:documentation>Where parking access limited to known and authorized individuals.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="public">
        <xs:annotation>
          <xs:documentation>Open to the public.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="restricted">
        <xs:annotation>
          <xs:documentation>Open to the public but need a direct purpose or permission to use from the owner (e.g. doctor's surgery, storefront).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RateDiscount">
    <xs:annotation>
      <xs:documentation>Class defining discount rates to be applied to a RateTable.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="discountRate" type="com:Percentage" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Proportionate discount (-) or surcharge (+) to be applied to all values in the referenced RateTable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fixedValue" type="afac:AmountInCurrency" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Fixed value discount (-) or surcharge (+) to be applied to all values in the referenced RateTable </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_rateDiscountExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RateLine">
    <xs:annotation>
      <xs:documentation>A specific rate element of a rate line collection within a specific rate table.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="rateLineType" type="afac:_RateLineTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates the nature of the rate line.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="value" type="afac:AmountOfMoney" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The value of the fee to be charged in respect of this rate line.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_rateLineExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="sequence" type="com:Integer" use="required">
      <xs:annotation>
        <xs:documentation>The ordered sequence of this RateLine instance within the RateLineCollection.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="RateLineCollection">
    <xs:annotation>
      <xs:documentation>A group of rate line elements that logically group together within one rate table,e.g. such as the rate lines for the different tiers of a time-based tier rate table.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicableCurrency" type="afac:CurrencyCode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The monetary currency that rates are specified in this rate line collection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minValueCollection" type="afac:AmountOfMoney" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The minimum monetary amount to be applied in conjunction with use of this rate line collection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxValueCollection" type="afac:AmountOfMoney" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The maximum monetary amount to be applied in conjunction with use of this rate line collection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validStart" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The start time for the validity of this rate line collection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validEnd" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The end time for the validity of this rate line collection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minTime" type="afac:Duration" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A minimum parking session duration to be applied to this rate line collection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxTime" type="afac:Duration" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A maximum parking session duration to be applied to this rate line collection.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="resetTime" type="com:Time" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Time that rate resets.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxIncluded" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>[TRUE] Indication that tax to be applied is included within the total rate associated with this rate line collection. [FALSE] indicates that the tax is added additionally to the total.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxRate" type="com:Percentage" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The percentage rate of tax to be applied.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="taxValue" type="afac:AmountOfMoney" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The monetary amount of tax to be applied.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="relativeTimes" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>[TRUE] Indicates whether times relative to the start of an external event are used as the basis for rate calculation. [FALSE] indicates that rate calculation definitions are based on local or UTC times (for example the duration of a parking session).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rateLine" type="afac:RateLine" maxOccurs="unbounded" />
      <xs:element name="_rateLineCollectionExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="collectionSequence" type="com:Integer" use="required">
      <xs:annotation>
        <xs:documentation>An indicator giving the place in sequence of this rate line collection.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="RateLineTypeEnum">
    <xs:annotation>
      <xs:documentation>A list of rate line types.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="flatRate">
        <xs:annotation>
          <xs:documentation>A rate applied to the rate line which is not time/duration dependent. i.e. a single fixed payment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="incrementingRate">
        <xs:annotation>
          <xs:documentation>A charge rate that increases by a defined amount in a defined time.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="flatRateTier">
        <xs:annotation>
          <xs:documentation>A flat rate charge rate associated with a specific time-based tier. This is a special case of an incrementing rate.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="perUnit">
        <xs:annotation>
          <xs:documentation>A charge rate that is calculated per unit (the unit should be specified, for example in RefillPoint).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RateMatrix">
    <xs:annotation>
      <xs:documentation>A collection of rateTables as supplied by the data supplier. These may relate to different locations.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:Rates">
        <xs:sequence>
          <xs:element name="name" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Supplier-defined name for the rate matrix.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="description" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Supplier-defined free-text description for the rate matrix.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="versionTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Timestamp indicating the issuance of this rate matrix.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="informationManager" type="com:InternationalIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Organisation that manages the information content (is responsible for updates of this information) typically the organisation that first made the DATEX II publication of this content.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="rateTable" type="afac:RateTable" maxOccurs="unbounded" />
          <xs:element name="_rateMatrixExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Rates" abstract="true">
    <xs:annotation>
      <xs:documentation>Information about rates,either by reference or by a table specification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_ratesExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RatesPublication">
    <xs:annotation>
      <xs:documentation>A publication to supply rate information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="com:HeaderInformation" minOccurs="0" />
          <xs:element name="rateMatrix" type="afac:RateMatrix" maxOccurs="unbounded" />
          <xs:element name="_ratesPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RateTable">
    <xs:annotation>
      <xs:documentation>A specific set of rate charges relating to one or more locations and optionally one set of eligibility criteria.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:Rates">
        <xs:sequence>
          <xs:element name="lastUpdated" type="com:DateTime" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The date/time at which this information was last updated.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="rateTableName" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Name of the Rate Table.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="activeTimes" type="afac:Duration" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Periods when the rate table is to be applied.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="availability" type="afac:_RateAvailabilityTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Availability of Rate to the public.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="rateResponsibleParty" type="afac:_ReferenceableOrganisationVersionedReference" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Entity responsible for fee collection. Identifies the entity that actually collects payment (e.g. mobile payment provider, online reservation firm, on-site operations).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="rateSupersedeLink" type="afac:_RateTableVersionedReference" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Identify the rate table that this rate table supersedes. Temporarily supersedes the identified rate table. Use the Rate expiration times to define duration.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="validation" type="com:Boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Are validations accepted when using this rate table? [TRUE] = validations can be applied to transactions using this rate table; [FALSE] validations cannot be applicated to transactions using this rate table.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="rateType" type="afac:_RateTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Defines the type of rate in use.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="validityStart" type="com:DateTime" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Valid start date/time of rate table.  This is when the rate table and pricing become active.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="validityEnd" type="com:DateTime" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Expiration of rate table in date/time.  This is when the rate table and pricing expires and is no longer used.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="additionalInformation" type="com:Url" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>URI locator for supplementary additional information concerning use of the rate table.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="rateLineCollection" type="afac:RateLineCollection" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="eligibility" type="afac:Eligibility" minOccurs="0" />
          <xs:element name="_rateTableExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RateTypeEnum">
    <xs:annotation>
      <xs:documentation>A list of supported rate types.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="contract">
        <xs:annotation>
          <xs:documentation>Rate provided to contract holders only.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="daily">
        <xs:annotation>
          <xs:documentation>Rate provided on a daily rate, per calendar day.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="event">
        <xs:annotation>
          <xs:documentation>Rate provided in combination with a specific event.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hourly">
        <xs:annotation>
          <xs:documentation>Rate provided on an hourly basis.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReferenceableOrganisation">
    <xs:annotation>
      <xs:documentation>A versioned identifiable organisation that can be referenced.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:AnOrganisation">
        <xs:sequence>
          <xs:element name="_referenceableOrganisationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelativeOffsets">
    <xs:annotation>
      <xs:documentation>Time-based qualification criteria,linked to the possession of a specified Right Specification,defined using relative time offsets from the last use of the identified Right Specification.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:AssignedRightTimeRelative">
        <xs:sequence>
          <xs:element name="earliestStartRelative" type="afac:Duration" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Defines the earliest start eligibility period.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="latestStartRelative" type="afac:Duration" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Defines the latest start eligibility period.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="earliestEndRelative" type="afac:Duration" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Defines the earliest end eligibility period.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="latestEndRelative" type="afac:Duration" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Defines the latest start eligibility period.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_relativeOffsetsExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RelativeTimeRates">
    <xs:annotation>
      <xs:documentation>A class supporting the specification of times for defining rate applicability that are relative to a defined referenceTimeStart of an event.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:RateLineCollection">
        <xs:sequence>
          <xs:element name="referenceTimeStart" type="com:DateTime" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Event-related reference start time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="referenceTimeEnd" type="com:DateTime" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Event-related reference end time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_relativeTimeRatesExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ReservationTypeEnum">
    <xs:annotation>
      <xs:documentation>Different types of reservation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="optional">
        <xs:annotation>
          <xs:documentation>Reservation is optional.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mandatory">
        <xs:annotation>
          <xs:documentation>Reservation is mandatory.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="notAvailable">
        <xs:annotation>
          <xs:documentation>Reservation is not possible.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="partly">
        <xs:annotation>
          <xs:documentation>There is a specific contingent, that can be reserved.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Possibility of reservation is unknown,.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unspecified">
        <xs:annotation>
          <xs:documentation>Possibility of reservation is not specified.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RightSpecification">
    <xs:annotation>
      <xs:documentation>A Right Specification explicitly defines what the owner/manager of a Place is granting specific users or vehicles the ability to do (e.g. park,delivery,pick up).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="afac:_RightTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Defines the type of Right Specification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="com:MultilingualString" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Free-text description of a RightSpecification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="financialReference" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Creater defined free-text reference to financial transactions associated to the specific Right Specification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="issuer" type="afac:_ReferenceableOrganisationVersionedReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A versioned reference identifying the entity issuing the RightsSpecification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="transferable" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indication that the RightSpecification is available to be transferred between Assigned Right Holder(s) or users.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="transferableConditions" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Statement of the conditions under which a RightSpecification may be transferred.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="credential" type="afac:Credential" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="validity" type="com:Validity" minOccurs="0" />
      <xs:element name="_rightSpecificationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:simpleType name="RightTypeEnum">
    <xs:annotation>
      <xs:documentation>A list of the supported RightSpecification types available for reference.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="oneTimeUseParking">
        <xs:annotation>
          <xs:documentation>Granting the right to park for one-time or limited parking use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="permitParking">
        <xs:annotation>
          <xs:documentation>Granting the right to park vehicle for multi-usage.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="loadingUnloading">
        <xs:annotation>
          <xs:documentation>Granting the right to load and unload vehicles.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="setdownPickup">
        <xs:annotation>
          <xs:documentation>Granting the right to setdown and pickup passengers.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="waiting">
        <xs:annotation>
          <xs:documentation>Granting the right to wait for an accompanied vehicle.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="accessPermission">
        <xs:annotation>
          <xs:documentation>Granting the right to access (e.g. a specific zone or a facility).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="doingReservation">
        <xs:annotation>
          <xs:documentation>Granting the right to make a reservation (e.g. for parking or electric charging).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="electricCharging">
        <xs:annotation>
          <xs:documentation>Granting the right to charge an electric vehicle.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TimesOfDay">
    <xs:annotation>
      <xs:documentation>Time-based qualification criteria,linked to the possession of a specified Right Specification,defined using absolute time of day offsets from the last use of the identified Right Specification.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:AssignedRightTimeRelative">
        <xs:sequence>
          <xs:element name="earliestStart" type="com:Time" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Defines the earliest start eligibility period, defined as a time of day.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="latestStart" type="com:Time" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Defines the latest start eligibility.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="earliestEnd" type="com:Time" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Defines the earliest end eligibility.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="latestEnd" type="com:Time" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Defines the latest end eligibility.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_timesOfDayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TimeZone">
    <xs:annotation>
      <xs:documentation>Identifies a time zone by specifying the difference to UTC in hours and minutes,as defined in ISO 8601.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:String">
      <xs:pattern value="[-+][0-9][0-9]:[0-9][0-9]|Z" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TypeOfIdentifierEnum">
    <xs:annotation>
      <xs:documentation>An empty enumeration,which should be project-specifically extended to provide type of external identifiers.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="UndefinedOperatingHours">
    <xs:annotation>
      <xs:documentation>There are no operating hours specified.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:OperatingHours">
        <xs:sequence>
          <xs:element name="_undefinedOperatingHoursExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UndefinedOrganisation">
    <xs:annotation>
      <xs:documentation>The organisation for the specified association end (within the specified validity if applicable) is not defined.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:Organisation">
        <xs:sequence>
          <xs:element name="_undefinedOrganisationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnknownOperatingHours">
    <xs:annotation>
      <xs:documentation>The operating hours are not known.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:OperatingHours">
        <xs:sequence>
          <xs:element name="_unknownOperatingHoursExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnknownOrganisation">
    <xs:annotation>
      <xs:documentation>The organisation for the specified association end (within the specified validity if applicable) is unknown.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="afac:Organisation">
        <xs:sequence>
          <xs:element name="_unknownOrganisationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UserQualification">
    <xs:annotation>
      <xs:documentation>Class supporting the definition of user group characteristics.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="userGroup" type="afac:_UserTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates the user-defined user group qualification.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_userQualificationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UserTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of different users,for example used in the context of parking.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="allUsers">
        <xs:annotation>
          <xs:documentation>All users.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="commuters">
        <xs:annotation>
          <xs:documentation>Commuters.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="customers">
        <xs:annotation>
          <xs:documentation>Customers.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="elderlyUsers">
        <xs:annotation>
          <xs:documentation>Elderly users.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="employees">
        <xs:annotation>
          <xs:documentation>Employees.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="families">
        <xs:annotation>
          <xs:documentation>Families.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="personsWithDisabilities">
        <xs:annotation>
          <xs:documentation>Persons with disabilities.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hearingImpaired">
        <xs:annotation>
          <xs:documentation>People with hearing loss.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hotelGuests">
        <xs:annotation>
          <xs:documentation>Hotel guests.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="longTermParkers">
        <xs:annotation>
          <xs:documentation>Long-term parker.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="members">
        <xs:annotation>
          <xs:documentation>Members.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="men">
        <xs:annotation>
          <xs:documentation>Men.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="overnightParkers">
        <xs:annotation>
          <xs:documentation>Overnight parker.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="parkAndCycleUser">
        <xs:annotation>
          <xs:documentation>Park and cycle user.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="parkAndRideUsers">
        <xs:annotation>
          <xs:documentation>Users that are exchanging into public transport at a park and ride station.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="parkAndWalkUser">
        <xs:annotation>
          <xs:documentation>Park and walk user.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pensioners">
        <xs:annotation>
          <xs:documentation>Pensioners.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pregnantPerson">
        <xs:annotation>
          <xs:documentation>Pregnant person.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="registeredDisabledUsers">
        <xs:annotation>
          <xs:documentation>Registered disabled persons.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="reservationHolders">
        <xs:annotation>
          <xs:documentation>Those who have a valid reservation, e.g. for the duration of parking.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="residents">
        <xs:annotation>
          <xs:documentation>Local residents.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="seasonTicketHolders">
        <xs:annotation>
          <xs:documentation>Season ticket holders.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="shoppers">
        <xs:annotation>
          <xs:documentation>Shoppers.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="shortTermParkers">
        <xs:annotation>
          <xs:documentation>Short-term parker.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sportEventAwaySupporters">
        <xs:annotation>
          <xs:documentation>Sport event away supporters.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sportEventHomeSupporters">
        <xs:annotation>
          <xs:documentation>Sport event home supporters.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="students">
        <xs:annotation>
          <xs:documentation>Students.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="staff">
        <xs:annotation>
          <xs:documentation>Staff.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="subscribers">
        <xs:annotation>
          <xs:documentation>Subscribers.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="visitors">
        <xs:annotation>
          <xs:documentation>Visitors.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="visuallyImpaired">
        <xs:annotation>
          <xs:documentation>People with vision impairment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="wheelchairUsers">
        <xs:annotation>
          <xs:documentation>Wheelchair users.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="women">
        <xs:annotation>
          <xs:documentation>Women.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>