road/variable-signs/resources/datex2/3.7/DATEXII_3_EnergyInfrastructure.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:egi="http://datex2.eu/schema/3/energyInfrastructure" version="3.7" targetNamespace="http://datex2.eu/schema/3/energyInfrastructure" xmlns:fac="http://datex2.eu/schema/3/facilities" xmlns:com="http://datex2.eu/schema/3/common" xmlns:loc="http://datex2.eu/schema/3/locationReferencing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/facilities" schemaLocation="DATEXII_3_Facilities.xsd" />
  <xs:complexType name="_AuthenticationAndIdentificationEnum">
    <xs:simpleContent>
      <xs:extension base="egi:AuthenticationAndIdentificationEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_BioethanolTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:BioethanolTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ChargingModeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:ChargingModeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ChargingPointUsageTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:ChargingPointUsageTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ConnectorFormatTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:ConnectorFormatTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ConnectorTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:ConnectorTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_DeliveryUnitEnum">
    <xs:simpleContent>
      <xs:extension base="egi:DeliveryUnitEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_DieselTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:DieselTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ElectricEnergySourceTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:ElectricEnergySourceTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_EnergyInfrastructureSiteTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:EnergyInfrastructureSiteTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_EnergyInfrastructureTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="egi:EnergyInfrastructureTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_HydrogenFuellingProcessProtocolEnum">
    <xs:simpleContent>
      <xs:extension base="egi:HydrogenFuellingProcessProtocolEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_OrganicGasTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:OrganicGasTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PetrolTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:PetrolTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PricingPolicyEnum">
    <xs:simpleContent>
      <xs:extension base="egi:PricingPolicyEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RefillPointStatusEnum">
    <xs:simpleContent>
      <xs:extension base="egi:RefillPointStatusEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RefillSolutionHydrogenEnum">
    <xs:simpleContent>
      <xs:extension base="egi:RefillSolutionHydrogenEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ServiceTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:ServiceTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_VehicleToGridCommunicationTypeEnum">
    <xs:simpleContent>
      <xs:extension base="egi:VehicleToGridCommunicationTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="Ampere">
    <xs:annotation>
      <xs:documentation>Ampere.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:simpleType name="AuthenticationAndIdentificationEnum">
    <xs:annotation>
      <xs:documentation>A table of authentication and/or identification methods</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="activeRFIDChip">
        <xs:annotation>
          <xs:documentation>Phone (active RFID chip)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="apps">
        <xs:annotation>
          <xs:documentation>Apps</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="calypso">
        <xs:annotation>
          <xs:documentation>RFID Calypso</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cashPayment">
        <xs:annotation>
          <xs:documentation>No specific authentication by using cash</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="creditCard">
        <xs:annotation>
          <xs:documentation>Credit card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="debitCard">
        <xs:annotation>
          <xs:documentation>Debit card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mifareClassic">
        <xs:annotation>
          <xs:documentation>RFID Card / Phone NFC - Mifare Classic</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mifareDesfire">
        <xs:annotation>
          <xs:documentation>RFID Card / Phone NFC - Mifare Desfire</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nfc">
        <xs:annotation>
          <xs:documentation>Nearfield communication</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="overTheAir">
        <xs:annotation>
          <xs:documentation>Over the air according to ISO 15118</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="phoneDialog">
        <xs:annotation>
          <xs:documentation>phone (dialog with platform)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="phoneSMS">
        <xs:annotation>
          <xs:documentation>Phone (SMS)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pinpad">
        <xs:annotation>
          <xs:documentation>PINPAD</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="plc">
        <xs:annotation>
          <xs:documentation>PLC according to ISO 15118</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="prepaidCard">
        <xs:annotation>
          <xs:documentation>Pre-Paid card</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rfid">
        <xs:annotation>
          <xs:documentation>RFID</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="website">
        <xs:annotation>
          <xs:documentation>Using a website</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unlimitedAccess">
        <xs:annotation>
          <xs:documentation>No authentication/identification required.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="noAccess">
        <xs:annotation>
          <xs:documentation>No access granted</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BioethanolTypeEnum">
    <xs:annotation>
      <xs:documentation>A table of different types of petrol with a share of bioethanol.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="superE5">
        <xs:annotation>
          <xs:documentation>Petrol with 5% bioethanol</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="superE10">
        <xs:annotation>
          <xs:documentation>Petrol with 10% bioethanol</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The share of bioethanol is unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other, less common, types of Petrol with bioethanol.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChargingModeEnum">
    <xs:annotation>
      <xs:documentation>Charging mode according to IEC 61851-1 terminology</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="mode1AC1p">
        <xs:annotation>
          <xs:documentation>Mode 1, AC 1 phase</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mode1AC3p">
        <xs:annotation>
          <xs:documentation>Mode 1, AC 3 phases</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mode2AC1p">
        <xs:annotation>
          <xs:documentation>Mode 2, AC 1 phase</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mode2AC3p">
        <xs:annotation>
          <xs:documentation>Mode 2, AC 3 phases</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mode3AC3p">
        <xs:annotation>
          <xs:documentation>Mode 3, AC 3 phases</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mode4DC">
        <xs:annotation>
          <xs:documentation>Mode 4, DC</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="legacyInductive">
        <xs:annotation>
          <xs:documentation>Legacy-Inductive</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ccs">
        <xs:annotation>
          <xs:documentation>Charging with a combined charging solution (CCS). AC and DC are used simultaneously.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Some other charging mode</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The type of the charging mode is unknown</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChargingPointUsageTypeEnum">
    <xs:annotation>
      <xs:documentation>Type of usage for an electric charging point..</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="electricBoat">
        <xs:annotation>
          <xs:documentation>Charging of electric boats</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="electricBike">
        <xs:annotation>
          <xs:documentation>Charging of E-Bikes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="electricalDevices">
        <xs:annotation>
          <xs:documentation>Provides a plug for electrical devices (e.g. shaver, mobile phones, hair dryer, ...)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="electricMotorcycle">
        <xs:annotation>
          <xs:documentation>Charging of E-Motorcycles</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="electricVehicle">
        <xs:annotation>
          <xs:documentation>Charging of electric vehicles</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lorryPowerConsumption">
        <xs:annotation>
          <xs:documentation>Supply for lorries with power consumption, e.g. for refrigerated goods transports.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="motorhomeOrCaravanSupply">
        <xs:annotation>
          <xs:documentation>Supply for motorhomes or caravans</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="overheadLineDrivenVehicles">
        <xs:annotation>
          <xs:documentation>The charging point supplies a overhead line, usually connected via pantographs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other usage for the electric charging stations.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Connector">
    <xs:annotation>
      <xs:documentation>Parameters and description of an interface that is available at the given electric charging point to connect vehicles</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="connectorType" type="egi:_ConnectorTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Specification of the connector, i.e. the charging interface type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherConnector" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Some other connector / charging interface</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="countryOfDomesticSocket" type="com:CountryCode" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Countries for which the domestic socket is applicable. Only needed if explicit type of a domestic socket is not specified.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="chargingMode" type="egi:_ChargingModeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Available charging modes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="connectorFormat" type="egi:_ConnectorFormatTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Information on the cable type used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maxPowerAtSocket" type="egi:Watt" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Maximum power at the socket in Watts</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="voltage" type="egi:Volt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Possible degrees of voltage.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maximumCurrent" type="egi:Ampere" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Maximum current in Ampere</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_connectorExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ConnectorFormatTypeEnum">
    <xs:annotation>
      <xs:documentation>A list of cable types used during the charging process.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="cableMode2">
        <xs:annotation>
          <xs:documentation>The connector is an attached cable; the EV users car needs to have a fitting inlet for a mode 2 cable, common for most domestic sockets</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cableMode3">
        <xs:annotation>
          <xs:documentation>The connector is an attached cable; the EV users car needs to have a fitting inlet for a mode 3 cable, can be used for Type 1 and Type 2 sockets.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="otherCable">
        <xs:annotation>
          <xs:documentation>The connector is an attached cable; the EV users car needs to have a fitting inlet.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="socket">
        <xs:annotation>
          <xs:documentation>The connector is a socket; the EV user needs to bring a fitting plug</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConnectorTypeEnum">
    <xs:annotation>
      <xs:documentation>A table of commonly used connectors / charging interfaces</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="chademo">
        <xs:annotation>
          <xs:documentation>CHAdeMO, 600 V DC. Used mostly in Japan.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cee3">
        <xs:annotation>
          <xs:documentation>CEE3, 230 V, 16 A</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cee5">
        <xs:annotation>
          <xs:documentation>CEE5, 400 V, 16-63 A</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yazaki">
        <xs:annotation>
          <xs:documentation>Yazaki, 400 VDC, 125 A, Asian standard.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domestic">
        <xs:annotation>
          <xs:documentation>A domestic socket of unspecified type. Applicable countries should be specified in separate attribute.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticA">
        <xs:annotation>
          <xs:documentation>Domestic socket type A (mainly used in the USA, Canada, Mexico &amp; Japan)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticB">
        <xs:annotation>
          <xs:documentation>Domestic socket type B (mainly used in the USA, Canada &amp; Mexico)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticC">
        <xs:annotation>
          <xs:documentation>Domestic socket type C (commonly used in Europe, South America &amp; Asia)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticD">
        <xs:annotation>
          <xs:documentation>Domestic socket type D (mainly used in India)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticE">
        <xs:annotation>
          <xs:documentation>Domestic socket type E (primarily used in France, Belgium, Poland, Slovakia &amp; Czechia)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticF">
        <xs:annotation>
          <xs:documentation>Domestic socket type F (used almost everywhere in Europe &amp; Russia, except for the UK &amp; Ireland)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticG">
        <xs:annotation>
          <xs:documentation>Domestic socket type G (mainly used in the United Kingdom, Ireland, Malta, Malaysia, Singapore &amp; the Arabian Peninsula)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticH">
        <xs:annotation>
          <xs:documentation>Domestic socket type H (used exclusively in Israel, the West Bank &amp; the Gaza Strip)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticI">
        <xs:annotation>
          <xs:documentation>Domestic socket type I (mainly used in Australia, New Zealand, China &amp; Argentina)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticJ">
        <xs:annotation>
          <xs:documentation>Domestic socket type J (used almost exclusively in Switzerland &amp; Liechtenstein)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticK">
        <xs:annotation>
          <xs:documentation>Domestic socket type K (used almost exclusively in Denmark &amp; Greenland)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticL">
        <xs:annotation>
          <xs:documentation>Domestic socket type L (used almost exclusively in Italy &amp; Chile)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticM">
        <xs:annotation>
          <xs:documentation>Domestic socket type M (mainly used in South Africa)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticN">
        <xs:annotation>
          <xs:documentation>Domestic socket type N (used in Brazil and South Africa)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="domesticO">
        <xs:annotation>
          <xs:documentation>Domestic socket type O (used exclusively in Thailand)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec60309x2single16">
        <xs:annotation>
          <xs:documentation> IEC 60309-2 Industrial Connector single phase 16 amperes (usually blue)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec60309x2three16">
        <xs:annotation>
          <xs:documentation>IEC 60309-2 Industrial Connector three phase 16 amperes (usually red)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec60309x2three32">
        <xs:annotation>
          <xs:documentation>IEC 60309-2 Industrial Connector three phase 32 amperes (usually red)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec60309x2three64">
        <xs:annotation>
          <xs:documentation>IEC 60309-2 Industrial Connector three phase 64 amperes (usually red)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T1">
        <xs:annotation>
          <xs:documentation>IEC 62196 Type 1 "SAE J1772".  Mostly used in USA and Asia.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T1COMBO">
        <xs:annotation>
          <xs:documentation>Combo Type 1 based, DC</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T2">
        <xs:annotation>
          <xs:documentation>IEC 62196 Type 2 "Mennekes" - 400 V, 16-63 A. Mandatory in Europe; EN 17186 identifier "C"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T2COMBO">
        <xs:annotation>
          <xs:documentation>Combo Type 2 based, DC, Type 2 connector with extension for simultaneous DC-charging</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T3A">
        <xs:annotation>
          <xs:documentation>IEC 62196 Type 3A; EN 17186 identifier "D"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec62196T3C">
        <xs:annotation>
          <xs:documentation> IEC 62196 Type 3C "Scame"; EN 17186 identifier "E"</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pantographBottomUp">
        <xs:annotation>
          <xs:documentation>On-board Bottom-up-Pantograph typically for bus charging</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pantographTopDown">
        <xs:annotation>
          <xs:documentation>Off-board Top-down-Pantograph typically for bus charging</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="teslaConnectorEurope">
        <xs:annotation>
          <xs:documentation>Tesla Connector EU (modification of the Type 2 connector)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="teslaConnectorAmerica">
        <xs:annotation>
          <xs:documentation>Tesla connector used in America (Tesla specific)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="teslaR">
        <xs:annotation>
          <xs:documentation>Tesla Connector "Roadster"-type (round, 4 pin)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="teslaS">
        <xs:annotation>
          <xs:documentation>Tesla Connector "Model-S"-type (oval, 5 pin)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other charging interface.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DeliveryUnitEnum">
    <xs:annotation>
      <xs:documentation>Table with diffrent units in which the delivery is measured.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="litre">
        <xs:annotation>
          <xs:documentation>Litre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="kWh">
        <xs:annotation>
          <xs:documentation>kilowatt hour</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="kg">
        <xs:annotation>
          <xs:documentation>kilogram</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="m3">
        <xs:annotation>
          <xs:documentation>cubic metre</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="imperialGallon">
        <xs:annotation>
          <xs:documentation>Imperial gallon (4.54609 litres)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="usGallon">
        <xs:annotation>
          <xs:documentation>US gallon (3.785411784 litres)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gasGallonEquivalent">
        <xs:annotation>
          <xs:documentation>The amount of alternative fuel it takes to equal the energy content of one liquid gallon of gasoline. Used mostly in the US.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DieselRefillPoint">
    <xs:annotation>
      <xs:documentation>A refill point for diesel</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="egi:RefillPoint">
        <xs:sequence>
          <xs:element name="dieselType" type="egi:_DieselTypeEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specifies the type of diesel.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="cetane" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Diesel's cetane value</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_dieselRefillPointExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DieselTypeEnum">
    <xs:annotation>
      <xs:documentation>A table of different diesel types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="carDiesel">
        <xs:annotation>
          <xs:documentation>Diesel for cars</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="truckDiesel">
        <xs:annotation>
          <xs:documentation>Diesel for trucks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bioDiesel">
        <xs:annotation>
          <xs:documentation>Vegetable oil or animal fat-based diesel fuel.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The type of diesel is unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ElectricChargingPoint">
    <xs:annotation>
      <xs:documentation>Technical infrastructure at a specific location that facilitates electric charging of one vehicle at a time</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="egi:RefillPoint">
        <xs:sequence>
          <xs:element name="usageType" type="egi:_ChargingPointUsageTypeEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Usage type of the electric charging point.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="vehicleToGridCommunicationType" type="egi:_VehicleToGridCommunicationTypeEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Type of vehicle to grid communication used.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="availableVoltage" type="egi:Volt" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Possible degrees of voltage.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="availableChargingPower" type="egi:Watt" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Possible degrees of charging power in Watts.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="connector" type="egi:Connector" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specify the connector(s).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="electricEnergyMix" type="egi:ElectricEnergyMix" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="vehicleSpace" type="egi:VehicleSpace" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_electricChargingPointExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElectricChargingPointStatus">
    <xs:annotation>
      <xs:documentation>Dynamic information on the status of the charging point.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="egi:RefillPointStatus">
        <xs:sequence>
          <xs:element name="remainingChargingTime" type="com:Seconds" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>If known, the approximate remaining charging time for the current vehicle on this refill point can be specified.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="currentVoltage" type="egi:Volt" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Current used voltage.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="currentChargingPower" type="egi:Watt" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The current power in Watts.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nextAvailableChargingSlots" type="com:DateTime" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>One or more points of time in the future, at which the charging point will be available (not occupied and not reserved).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="electricEnergyMixOverride" type="egi:ElectricEnergyMix" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Overrides the energy mixes that are available at this electric charging point.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_electricChargingPointStatusExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElectricEnergyMix">
    <xs:annotation>
      <xs:documentation>The energy mix and environmental impact of the supplied energy available at this charging point.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="energyProductName" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A name for this energy product</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="isGreenEnergy" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>True if 100% from regenerative sources (CO2 and nuclear waste is zero)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="carbonDioxideImpact" type="com:Float" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Exhausted carbon dioxide in grams per kilowatt hour</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nuclearWasteImpact" type="com:Float" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Produced nuclear waste in grams per kilowatt hour</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="notAvailable" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>This status related attribute can indicate that the specified electric energy mix, identified by its index, is currently not available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="electricEnergySourceRatio" type="egi:ElectricEnergySourceRatio" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="energyProvider" type="fac:Organisation" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The energy provider for this electric charging point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="rates" type="fac:Rates" minOccurs="0" />
      <xs:element name="_electricEnergyMixExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="energyMixIndex" type="com:Integer" use="required">
      <xs:annotation>
        <xs:documentation>An index to link this element between the static and dynamic publications.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ElectricEnergySourceRatio">
    <xs:annotation>
      <xs:documentation>Ratio for the specified energy source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="energySource" type="egi:_ElectricEnergySourceTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>An electric energy source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherEnergySource" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Some other energy source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="sourceRatioValue" type="com:PercentageValue">
        <xs:annotation>
          <xs:documentation>The percentage ratio value of this energy source.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_electricEnergySourceRatioExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ElectricEnergySourceTypeEnum">
    <xs:annotation>
      <xs:documentation>Electric energy sources</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="biogas">
        <xs:annotation>
          <xs:documentation>Biogas energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="coal">
        <xs:annotation>
          <xs:documentation>Coal energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gas">
        <xs:annotation>
          <xs:documentation>Gas energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nuclear">
        <xs:annotation>
          <xs:documentation>Nuclear power sources</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="solar">
        <xs:annotation>
          <xs:documentation>Solar energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="water">
        <xs:annotation>
          <xs:documentation>Water energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="wind">
        <xs:annotation>
          <xs:documentation>Wind energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="generalGreen">
        <xs:annotation>
          <xs:documentation>All kinds of green energy sources.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="generalFossil">
        <xs:annotation>
          <xs:documentation>All kinds of fossil power sources</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Any other energy source</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EnergyInfrastructureSite">
    <xs:annotation>
      <xs:documentation>A site where vehicles can be supplied with energy, including all buildings, stations, parking spaces and other associated services.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:Facility">
        <xs:sequence>
          <xs:element name="typeOfSite" type="egi:_EnergyInfrastructureSiteTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Specifies the type of the site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="brand" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The brand of the site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="exclusiveUsers" type="fac:_UserTypeEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Limitation to a set of users (exclusive)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="preferredUsers" type="fac:_UserTypeEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Users that are preferred at this site (but not exclusive)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="entrance" type="loc:Location" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Possibility to specify the location of the site's entrance.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="exit" type="loc:Location" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Possibility to specify the location of the site's exit.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="energyInfrastructureStation" type="egi:EnergyInfrastructureStation" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specifications of charging stations on the site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_energyInfrastructureSiteExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnergyInfrastructureSiteStatus">
    <xs:annotation>
      <xs:documentation>Dynamic information on the status of the energy supplying site</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:FacilityStatus">
        <xs:sequence>
          <xs:element name="availableCarParkingPlaces" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Parking places available for cars.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="availableTruckParkingPlaces" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Parking places available for trucks.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="energyInfrastructureStationStatus" type="egi:EnergyInfrastructureStationStatus" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specify the status of a charging station with dynamic information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_energyInfrastructureSiteStatusExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="EnergyInfrastructureSiteTypeEnum">
    <xs:annotation>
      <xs:documentation>The type of an energy infrastructure site.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="roofedStation">
        <xs:annotation>
          <xs:documentation>The site has got a roof.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inBuilding">
        <xs:annotation>
          <xs:documentation>The energy infrastructure site is located inside some building for example in a car park.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="openSpace">
        <xs:annotation>
          <xs:documentation>The energy infrastructure site is an open space, for example a parking site.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="onstreet">
        <xs:annotation>
          <xs:documentation>The energy infrastructure site is located alongside a street, for example some singular charging stations.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="onCompanySite">
        <xs:annotation>
          <xs:documentation>The energy infrastructure site is located on a company site.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other types of energy infrastructure sites.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EnergyInfrastructureStation">
    <xs:annotation>
      <xs:documentation>A collection of associated refill points (which can be of different type). An example would be a fuel dispenser that serves different types of fuel. Often the vehicle space of the station is shared between the different refill points.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:Facility">
        <xs:sequence>
          <xs:element name="authenticationAndIdentificationMethods" type="egi:_AuthenticationAndIdentificationEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Information on what methods of identification and/or authentication are accepted</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="numberOfRefillPoints" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Information on the number of refill points at the station.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="refillPointByReference" type="com:VersionedReference" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Refill points can be attached to an EnergyInfrastructureStation instance either by directly associating with a RefillPoint instance or by using this attribute to refer to a RefillPoint instance that has already been defined.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="userInterfaceLanguage" type="com:Language" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Languages, in which a user interface is available, if any</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="energyProvider" type="fac:Organisation" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The provider of the energy.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="energyDistributor" type="fac:Organisation" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The distributor of the energy.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="serviceType" type="egi:ServiceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specify the type of service available at the EnergyInfrastructureStation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="refillPoint" type="egi:RefillPoint" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specifications of refill points at a charging station. Note that the refillPointIndex must be unique within the complete site!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_energyInfrastructureStationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnergyInfrastructureStationStatus">
    <xs:annotation>
      <xs:documentation>Dynamic information on the status of the station.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:FacilityStatus">
        <xs:sequence>
          <xs:element name="isAvailable" type="com:Boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Information whether the specific station is available or not. It might be unavailable for example because of a fault, damage or maintenance. It does not inform, if the corresponding refill points are currently occupied or not.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="refillPointStatus" type="egi:RefillPointStatus" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Specify the status of a refill point with dynamic information.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_energyInfrastructureStationStatusExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnergyInfrastructureStatusPublication">
    <xs:annotation>
      <xs:documentation>Dynamic information on the status of energy supplying sites.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="tableReference" type="egi:_EnergyInfrastructureTableVersionedReference" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Reference to static tables containing the sites referenced in this publication.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="headerInformation" type="com:HeaderInformation" minOccurs="0" />
          <xs:element name="energyInfrastructureSiteStatus" type="egi:EnergyInfrastructureSiteStatus" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_energyInfrastructureStatusPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnergyInfrastructureTable">
    <xs:annotation>
      <xs:documentation>A table of sites where vehicles can be supplied with energy.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tableName" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The name of the Energy Infrastructure Table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="energyInfrastructureSite" type="egi:EnergyInfrastructureSite" maxOccurs="unbounded" />
      <xs:element name="_energyInfrastructureTableExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="EnergyInfrastructureTablePublication">
    <xs:annotation>
      <xs:documentation>A publication of static information on the infrastructure for vehicle energy supply.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="com:HeaderInformation" minOccurs="0" />
          <xs:element name="energyInfrastructureTable" type="egi:EnergyInfrastructureTable" maxOccurs="unbounded" />
          <xs:element name="_energyInfrastructureTablePublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EnergyPricingPolicy">
    <xs:annotation>
      <xs:documentation>Details how the price for the charging process is calculated.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="pricingPolicy" type="egi:_PricingPolicyEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Information on which ways of pricing are used at the refill point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="combinationWithParkingFee" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether vehicle charging and parking are included in one combined fee</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="discount" type="com:Percentage" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Discount indicated in %</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="maximumDeliveryFee" type="fac:AmountOfMoney" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A maximum delivery fee.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minimumDeliveryFee" type="fac:AmountOfMoney" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A minimum delivery fee.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="additionalInformation" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Free text field for additional information regarding the pricing policy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_energyPricingPolicyExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="HydrogenFuellingProcessProtocolEnum">
    <xs:annotation>
      <xs:documentation>A table with different types of protocols that are used during the hydron fuelling process.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="sae2601v2010">
        <xs:annotation>
          <xs:documentation>Protocol according to SAE 2601 standard, version from 2010.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sae2601v2014">
        <xs:annotation>
          <xs:documentation>Protocol according to SAE 2601 standard, version from 2014.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sae2601v2016">
        <xs:annotation>
          <xs:documentation>Protocol according to SAE 2601 standard, version from 2016.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mcMethod">
        <xs:annotation>
          <xs:documentation>Protocol according to the MC method.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The protocol is unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="HydrogenRefillPoint">
    <xs:annotation>
      <xs:documentation>A refill point for hydrogen</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="egi:RefillPoint">
        <xs:sequence>
          <xs:element name="refillSolution" type="egi:_RefillSolutionHydrogenEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Definition of the refill solution for hydrogen</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="processProtocol" type="egi:_HydrogenFuellingProcessProtocolEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Information on which protocol is used for the fuelling process.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="renewableSourcesRatio" type="com:Percentage" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Percentage of hydrogen from renewable energy sources, to be indicated in %.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_hydrogenRefillPointExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganicGasRefillPoint">
    <xs:annotation>
      <xs:documentation>A refill point for organic gases</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="egi:RefillPoint">
        <xs:sequence>
          <xs:element name="organicGasType" type="egi:_OrganicGasTypeEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Information on the gas type at the refill point.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_organicGasRefillPointExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="OrganicGasTypeEnum">
    <xs:annotation>
      <xs:documentation>A table of types of organic gases</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="all">
        <xs:annotation>
          <xs:documentation>All organic gases are available at the refill point</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cng">
        <xs:annotation>
          <xs:documentation>CNG (Compressed Natural Gas)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lng">
        <xs:annotation>
          <xs:documentation>LNG (Liquefied Natural Gas)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lpg">
        <xs:annotation>
          <xs:documentation>LPG (Liquefied Petroleum Gas)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="biogas">
        <xs:annotation>
          <xs:documentation>A mixture of different gases produced by the breakdown of organic matter.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other organic gases</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The type of gas is unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PetrolRefillPoint">
    <xs:annotation>
      <xs:documentation>A refill point for petrol</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="egi:RefillPoint">
        <xs:sequence>
          <xs:element name="petrolType" type="egi:_PetrolTypeEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The type of petrol available at this refill point</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="octane" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Petrol's octane value</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="bioethanolPercentage" type="com:Percentage" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Percentage of bioethanol in petrol (typically 5% or 10%)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="bioethanolType" type="egi:_BioethanolTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Listing of common types of petrol with bioethanol</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_petrolRefillPointExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PetrolTypeEnum">
    <xs:annotation>
      <xs:documentation>A table of different petrol types</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="all">
        <xs:annotation>
          <xs:documentation>All petrol types are available.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="octane95">
        <xs:annotation>
          <xs:documentation>petrol with 95 octanes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="octane98">
        <xs:annotation>
          <xs:documentation>petrol with 98 octanes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="leaded">
        <xs:annotation>
          <xs:documentation>leaded petrol</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unleaded">
        <xs:annotation>
          <xs:documentation>Unleaded petrol</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="superE5">
        <xs:annotation>
          <xs:documentation>Super E5 petrol</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="superE10">
        <xs:annotation>
          <xs:documentation>Super E10 petrol</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>other types of petrol</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The type of petrol is unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PricingPolicyEnum">
    <xs:annotation>
      <xs:documentation>A list of possible pricing policies at refill points</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="pricePerChargingTime">
        <xs:annotation>
          <xs:documentation>The charging time defines the price.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pricePerDeliveryUnit">
        <xs:annotation>
          <xs:documentation>The amount of delivery units (see DeliveryUnitEnum) defines the price.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="contract">
        <xs:annotation>
          <xs:documentation>A contract defines the pricing.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="flatRate">
        <xs:annotation>
          <xs:documentation>Customers can or must have (depends on other available options) a flatrate to use the RefillPoint.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The pricing details are unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="free">
        <xs:annotation>
          <xs:documentation>Charging is free.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other method of pricing.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RefillPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>Technical infrastructure at a specific location that facilitates an energy refilling process being connected to max. one vehicle at a time</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:Facility">
        <xs:sequence>
          <xs:element name="deliveryUnit" type="egi:_DeliveryUnitEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Measurement unit that is used for delivery and accounting the energy provided at this refill point</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="maximumDeliveryAmount" type="egi:Units" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Maximum delivery amount</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="minimumDeliveryAmount" type="egi:Units" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Minimum delivery amount</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="modelType" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A description of the refill point model type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="reservation" type="fac:_ReservationTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Information regarding options for reservation of a time frame.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="serviceType" type="egi:ServiceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Specify the type of service available at a RefillPoint.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_refillPointExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RefillPointStatus">
    <xs:annotation>
      <xs:documentation>Dynamic information on the status of the refill point.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:FacilityStatus">
        <xs:sequence>
          <xs:element name="status" type="egi:_RefillPointStatusEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Status of the refill point</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="unitsInStock" type="egi:Units" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Amount of delivery units still in stock (with delivery units as defined in the static information model)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="waitingTime" type="fac:DurationValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Estimated waiting time for customers without reservation</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_refillPointStatusExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RefillPointStatusEnum">
    <xs:annotation>
      <xs:documentation>The status of a refill point.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="available">
        <xs:annotation>
          <xs:documentation>The refill point is not occupied, has got enough energy resources and can be used.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="blocked">
        <xs:annotation>
          <xs:documentation>The refill point is not accessible because of a physical barrier, e.g. a car.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="charging">
        <xs:annotation>
          <xs:documentation>The refill point is currently in use for charging.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="faulted">
        <xs:annotation>
          <xs:documentation>The refill point has got a fault.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inoperative">
        <xs:annotation>
          <xs:documentation>The refill point is not yet active or it is no longer available (deleted).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="occupied">
        <xs:annotation>
          <xs:documentation>The refill point is in use, this might include vehicle charging activity.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="outOfOrder">
        <xs:annotation>
          <xs:documentation>The refill point is currently out of order.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="outOfStock">
        <xs:annotation>
          <xs:documentation>The refill point is out of stock, i.e. energy resources are empty.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="planned">
        <xs:annotation>
          <xs:documentation>The refill point is planned, will be operating soon.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="removed">
        <xs:annotation>
          <xs:documentation>The refill point was discontinued/removed.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="reserved">
        <xs:annotation>
          <xs:documentation>The refill point is reserved by a customer, i.e. it is not available for other users right now.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unavailable">
        <xs:annotation>
          <xs:documentation>There is no energy available at this refill point. This could be because of a failure or damage or a longer lasting delivery failure (note that there is a literal 'outOfStock' for a short-term shortage).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The status of the refill point is unknown (can also be offline).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RefillSolutionHydrogenEnum">
    <xs:annotation>
      <xs:documentation>A table of different refilling solutions for hydrogen</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="gaseousHydrogen350barCar">
        <xs:annotation>
          <xs:documentation>Gaseous hydrogen with 350 bar pressure for cars.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gaseousHydrogen350barTruck">
        <xs:annotation>
          <xs:documentation>Gaseous hydrogen with 350 bar pressure for trucks.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gaseousHydrogen700barCar">
        <xs:annotation>
          <xs:documentation>Gaseous hydrogen with 700 bar pressure for cars.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gaseousHydrogen700barTruck">
        <xs:annotation>
          <xs:documentation>Gaseous hydrogen with 700 bar pressure for trucks.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="liquidHydrogen">
        <xs:annotation>
          <xs:documentation>Liquid hydrogen</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cryoCompressedHydrogren">
        <xs:annotation>
          <xs:documentation>Cryo-compressed hydrogen.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The type of hydrogen is unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceType">
    <xs:annotation>
      <xs:documentation>A specification of service types for the fuelling/charging and payment process</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="serviceType" type="egi:_ServiceTypeEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Information on different service types for the fuelling/charging and payment process.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_serviceTypeExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ServiceTypeEnum">
    <xs:annotation>
      <xs:documentation>A table of different service levels to be expected for fuelling/charging and payment.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="fullService">
        <xs:annotation>
          <xs:documentation>Full fuelling service carried out by an employee.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="selfService">
        <xs:annotation>
          <xs:documentation>Self Service for fuelling</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unattended">
        <xs:annotation>
          <xs:documentation>Unattended station, fuelling and payment to be done without assistance.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Units">
    <xs:annotation>
      <xs:documentation>Amount in units, which are specified by unitTypeEnum.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:complexType name="VehicleSpace">
    <xs:annotation>
      <xs:documentation>A space where a vehicle can be charged.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fac:Facility">
        <xs:sequence>
          <xs:element name="parkingAllowedAfterCharging" type="com:Boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>When true, parking on this space after charging is allowed for a vehicle.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_vehicleSpaceExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="VehicleToGridCommunicationTypeEnum">
    <xs:annotation>
      <xs:documentation>A list of communication types for communication between vehicles and the grid.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>No communication between vehicle and the grid.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iso15118">
        <xs:annotation>
          <xs:documentation>Communication according to ISO15118.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="iec619802">
        <xs:annotation>
          <xs:documentation>Communication according to IEC/TS 61980-2.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Communication according to other guidelines/specifications.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>The type of communication is unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Volt">
    <xs:annotation>
      <xs:documentation>Volt.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
  <xs:simpleType name="Watt">
    <xs:annotation>
      <xs:documentation>Watt.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:Float" />
  </xs:simpleType>
</xs:schema>