road/variable-signs/resources/tloik-digitraffic-rest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" targetNamespace="http://livi.fi/tloik/digitraffic"
           elementFormDefault="qualified"   xmlns:dt="http://livi.fi/tloik/digitraffic"

           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="laite" type="dt:laite"/>
    <xs:element name="liikennemerkinTila" type="dt:liikennemerkinTila"/>
    <xs:element name="metatiedot" type="dt:metatiedot"/>
    <xs:element name="rivit" type="dt:rivi"/>
    <xs:element name="sijainti" type="dt:sijainti"/>
    <xs:element name="tilatiedot" type="dt:tilatiedot"/>
    <xs:simpleType name="ajorata">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Ajorata kuvaa tien rinnakkaiset ajoradat.


<p>
Tie voi jakautua rinnakkaisiin ajoratoihin. Mikäli laite sijaitsee tietyllä ajoradalla, ajorata yksilöidään tieosoitteessa
tieosanumeron jälkeen ennen etäisyyslukemaa seuraavasti:

<ul>
<li><strong>0</strong> - normaali, 1-ajoratainen osuus</li>
<li><strong>1</strong> - oikeanpuoleinen ajorata</li>
<li><strong>2</strong> - vasemmanpuoleinen ajorata</li>
</ul>

Lisäksi käytetään puolikäsitettä osoitteen tarkennuksena seuraavasti:
<ul>
<li><strong>3</strong> - ajoratojen välissä</li>
<li><strong>7</strong> - tien päässä</li>
<li><strong>8</strong> - tien tai ajoradan keskellä / ajorataa pitkin</li>
<li><strong>9</strong> - tien päällä / ajoradan poikki</li>
</ul>
</p>
<p>
Oikea / vasen puoli määräytyy tierekisterissä aina siten, että tietä katsellaan tieosoitteen kasvusuuntaan (=inventointisuunta).
</p>
<p>
<mark>Lähde: Tierekisteri / Tieosoitejärjestelmä</mark>
</p>]]>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">

            <xs:enumeration value="NORMAALI"/>

            <xs:enumeration value="OIKEANPUOLEINEN"/>

            <xs:enumeration value="VASEMMANPUOLEINEN"/>

            <xs:enumeration value="AJORATOJEN_VALISSA"/>

            <xs:enumeration value="TIEN_PAASSA"/>

            <xs:enumeration value="AJORATAA_PITKIN"/>

            <xs:enumeration value="AJORADAN_POIKKI"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ajosuunta">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Ajosuunta tieosoitteen suhteen


<p>
Tietä voidaan ajaa joko tieosoitteen suhteen kasvavaan suuntaan eli inventointisuuntaan tai tieosoitteen suhteen laskevaan
suuntaan eli vastakkaiseen suuntaan.
</p>]]>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">

            <xs:enumeration value="KASVAVA"/>

            <xs:enumeration value="LASKEVA"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="laite">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Laitteen metatiedot.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="sijainti" type="dt:sijainti" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        <![CDATA[Laitteen sijaintitiedot.]]>
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="tunnus" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Laitteen tunniste, yleensä muodossa KRM012356.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="tyyppi" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Laitteen tyyppi, esim. nopeusrajoitus.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="liikennemerkinTila">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="dt:rivit"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="tunnus" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Liikennemerkin tunniste.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="nayttama" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Liikennemerkin näyttämä.

Arvo on esim. nopeusrajoituslukema tai varoitusmerkin numerotunnus.
Mikäli liikennemerkki on ohjattu tyhjäksi, tätä tietoa ei anneta.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="lisatieto" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Mikäli liikennemerkki sisältää lisätiedon antamiseen tarkoitetun lisäkilven, lisätieto ilmoitetaan tässä.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="voimaan" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Tilan voimaantulo UTC-aikaa käyttäen ISO8601 formaattia, esim. 2007-04-05T14:30:15Z.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="syy" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Syy, minkä vuoksi kyseinen tila on ohjattu liikennemerkkiin. Syy voi olla esim. 'heikentyneet keliolosuhteet', 'perustila' tai 'talvinopeusrajoitus'.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="luotettavuus" use="required" type="dt:luotettavuus">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Tilatiedon luotettavuus. Mikäli muu kuin normaali, tieto ei ole luotettavaa.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:simpleType name="luotettavuus">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Luotettavuus kertoo tilatiedon luotettavuuden.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">

            <xs:enumeration value="NORMAALI"/>

            <xs:enumeration value="YHTEYSKATKO"/>

            <xs:enumeration value="LAITEVIKA"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="metatiedot">
        <xs:sequence>
            <xs:element name="laitteet" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="laitteet" type="dt:laite" minOccurs="0" maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="rivi">
        <xs:attribute name="naytto" use="required" type="xs:int">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Opasteen näytön numero, yleensä 1.
Voi olla käytössä myös useita näyttöjä, joita näytetään opasteella vuoron perään.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="rivi" use="required" type="xs:int">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Tekstirivin numeron näytöllä, yleensä 1-4 riviä per näyttö.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="teksti" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Rivillä näkyvä teksti.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="sijainti">
        <xs:attribute name="tieosoite" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Laitteen sijainti tieosoitemuodossa.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ajosuunta" type="dt:ajosuunta">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Laitteen sijainti ajosuunnassa suhteessa inventointisuuntaan.
Kun tieosoite kasvaa liikennevirran mukaiseen suuntaan, laite sijaitsee kasvavassa ajosuunnassa.
Vastakkaiseen suuntaan olevat laitteet sijaitsevat vastaavasti laskevassa ajosuunnassa.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ajorata" type="dt:ajorata">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[Laitteen sijaintiin liittyvä ajoratatieto.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="n" type="xs:double">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ETRS-TM35FIN koordinaatti.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="e" type="xs:double">
            <xs:annotation>
                <xs:documentation>
                    <![CDATA[ETRS-TM35FIN koordinaatti.]]>
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="tilatiedot">
        <xs:sequence>
            <xs:element name="liikennemerkit" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="liikennemerkit" type="dt:liikennemerkinTila" minOccurs="0" maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>